.pos-relative{
    position: relative;
    left: 1rem;
}

.center-items{
    align-items: center;
}

.center-self{
    align-self:  center;
}

.margin-0{
    margin: 0rem;
}

.flex-row{
display: flex;
flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.space-btwn{
justify-content: space-between;
}

.hg-med{
    height: 2.5rem;
}

.hg-big{
    height: 88px;
}